.page-product .container {
    display: flex;
    flex-direction: row;
    margin: 30px auto;
}

.page-product .container .content {
    padding: 50px 20px;
}

.page-product .title {
    margin: 0 auto 20px;
    width: 70%;
}

.page-product .price {
    font-size: 20px;
    margin-bottom: 20px;
}